{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ 'myProfile'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'myProfile'|trans }}</h1>

    <p>Username : {{ app.user.username }}</p>
    <p>Email : {{ app.user.email }}</p>
{% endblock %}
