{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | {{ 'categories.categories'|trans }}{% endblock %}
{% block body %}
    <h1>{{ 'category.list'|trans }}</h1>
    {% for category in categories %}
        <div>
            <h2>{{ loop.index }} / {{ category.name }}</h2>
            <a href="{{ path("category_show", { categoryName : category.name }) }}">{{ 'category.show'|trans }}</a>
        </div>
    {% else %}
        {{ 'category.none'|trans }}
    {% endfor %}

    <a href="{{ path('app_index') }}">{{ 'back.home'|trans }}</a>
{% endblock %}
