{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | {{ 'episode.edit'|trans }}{% endblock %}
{% block body %}
    <h1>{{ 'episode.edit'|trans }}</h1>
    {{ include('episode/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('episode_index') }}">{{ 'back.episodeList'|trans }}</a>
    {{ include('episode/_delete.html.twig') }}
{% endblock %}
