{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ 'episode.list'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'episode.list'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>{{ 'title'|trans }}</th>
                <th>{{ 'number'|trans }}</th>
                <th>{{ 'synopsis'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.id }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.synopsis }}</td>
                <td>
                    <a href="{{ path('episode_show', {slug: episode.slug}) }}">show</a>
                    <a href="{{ path('episode_edit', {slug: episode.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'episode.notFound'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('episode_new') }}">{{ 'episode.add'|trans }}</a>
{% endblock %}
