{% extends 'base.html.twig' %}
{% block title %}{{ 'episode.add'|trans }}{% endblock %}
{% block body %}
    <h1>{{ 'episode.add'|trans }}</h1>
    {{ include('episode/_form.html.twig') }}
    <a href="{{ path('episode_index') }}">{{ 'back.episodeList'|trans }}</a>
{% endblock %}
