{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ 'episode.episode'|trans }} {{ episode.title }} - {{ episode.program }}{% endblock %}

{% block body %}
    <h1>{{ 'episode.episode'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>{{ 'title.title'|trans }}</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>{{ 'episode.number'|trans }}</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('episode_index') }}">{{ 'back.episodeList'|trans }}</a>

    <a href="{{ path('episode_edit', {slug: episode.slug}) }}">{{ episode.edit }}</a>

    {{ include('episode/_delete.html.twig') }}
{% endblock %}
