{% extends 'base.html.twig' %}
{% block title %}{{ 'season.edit'|trans }}{% endblock %}
{% block body %}
    <h1>{{ 'season.edit'|trans }}</h1>
    {{ include('season/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('season_index') }}">{{ 'back.seasonList'|trans }}</a>
    {{ include('season/_delete.html.twig') }}
{% endblock %}
