{% extends 'base.html.twig' %}

{% block title %}{{ 'season.list'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'season.list'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>{{ 'season.number'|trans }}</th>
                <th>{{ 'season.year'|trans }}</th>
                <th>Description</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.number }}</td>
                <td>{{ season.year }}</td>
                <td>{{ season.description }}</td>
                <td>
                    <a href="{{ path('season_show', {'id': season.id}) }}">{{ 'season.show'|trans }}</a>
                    <a href="{{ path('season_edit', {'id': season.id}) }}">{{ 'season.edit' }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'season.noSeasonsFound'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('season_new') }}">{{ 'season.add'|trans }}</a>
{% endblock %}
