{% extends 'base.html.twig' %}
{% block title %}{{ 'season.add'|trans }}{% endblock %}
{% block body %}
    <h1>{{ 'season.add'|trans }}</h1>
    {{ include('season/_form.html.twig') }}
    <a href="{{ path('season_index') }}">{{ 'back.seasonList'|trans }}</a>
{% endblock %}
