{% extends 'base.html.twig' %}

{% block title %}{{ 'program.edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'program.edit'|trans }}</h1>

    {{ include('program/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('program_index') }}">{{ 'back.programList'|trans }}</a>

    {{ include('program/_delete.html.twig') }}
{% endblock %}
