{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} | {{ program.title }} - Saison {{ season.number }} - Épisode {{ episode.number }}
{% endblock %}
{% block body %}
    <h1>{{ program.title }} - Saison {{ season.number }}</h1>
    <h2>Épisode {{ episode.number }} - {{ episode.title }}</h2>
    <p>{{ episode.synopsis }}</p>
    <h2>Commentaires</h2>
    <ul>
        {% for comment in episode.comments %}
        <br>
        <li>
            <p>Auteur : {{ comment.author.email }}</p>
            <p>Note : {{ comment.rate }}</p>
            <p>Commentaire : {{ comment.comment }}</p>
            {% if is_granted("ROLE_ADMIN") or app.user == comment.author %}
                {{ include('comment/_delete.html.twig') }}
            {% endif %}
        </li><br>
        {% else %}
            <p>Aucun commentaire n'a été rédigé pour cet épisode.</p>
        {% endfor %}
    </ul>
    {% if app.user %}
        <h2>Écrire un commentaire</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter un commentaire">
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
