{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} | {{ program.title }} - {{ 'season.season'|trans}} {{ season.number }} - {{ 'episode.episode'|trans }} {{ episode.number }}
{% endblock %}
{% block body %}
    <h1>{{ program.title }} - {{ 'season.season'|trans }} {{ season.number }}</h1>
    <h2>{{ 'episode.episode'|trans }} {{ episode.number }} - {{ episode.title }}</h2>
    <p>{{ episode.synopsis }}</p>
    <h2>{{ 'comments.comments'|trans }}</h2>
    <ul>
        {% for comment in episode.comments %}
        <br>
        <li>
            <p>{{ 'author.author'|trans }} : {{ comment.author.email }}</p>
            <p>{{ 'note.note'|trans }} : {{ comment.rate }}</p>
            <p>{{ 'comment.comment'|trans }} : {{ comment.comment }}</p>
            {% if is_granted("ROLE_ADMIN") or app.user == comment.author %}
                {{ include('comment/_delete.html.twig') }}
            {% endif %}
        </li><br>
        {% else %}
            <p>{{ 'program.noCommentsFound'|trans }}</p>
        {% endfor %}
    </ul>
    {% if app.user %}
        <h2>{{ 'program.writeComment'|trans }}</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'program.addComment'|trans }}">
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
