{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | {{ 'series.series'|trans }}{% endblock %}
{% block body %}
    <h1>{{ 'program.list'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>{{ 'search.search'|trans }}</button>
    {{ form_end(form) }}
    <br>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - {{ 'categories.category'|trans }} : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
            <a href="{{ path('program_show', { slug: program.slug }) }}">{{ 'program.show'|trans }}</a>
        </div>
    {% else %}
        {{ 'programs.noProgramsFound' }}
    {% endfor %}

    <a href="{{ path('app_index') }}">{{ 'back.home'|trans }}</a>
{% endblock %}
