{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'program.add'|trans }}</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <input type='submit' value='{{ 'program.add'|trans }}'>
    {{ form_end(form) }}
{% endblock %}
