{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | {{ program.title }} - Liste des épisodes de la saison {{ season.number }}{% endblock %}
{% block body %}
    <h1>{{ program.title }} - Saison {{ season.number }}</h1>
    <h2>{{ season.year }}</h2>
    <ul>
    {% for episode in season.episodes %}
        <li><a href="{{ path('program_episode_show',{program: program.id, season: season.id, episode: episode.id}) }}">{{ episode.number }} - {{ episode.title }}</a></li>
     {% else %}
        <p>Nous n'avons pas encore les informations des épisodes pour cette série. Veuillez nous excuser.</p>
    {% endfor %}
    </ul>
{% endblock %}
