{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | {{ actor.name }}{% endblock %}
{% block body %}
    <h1>{{ actor.name }}</h1>
    <ul>{{ 'actor.otherSeries'|trans }} :
        {% for program in actor.programs %}
            <li><a href="{{ path("program_show", { slug: program.slug }) }}">{{ program.title }}</a></li>
        {% else %}
        {{ 'actor.noSeriesFound'|trans }}
        {% endfor %}
    </ul>

    <a href="{{ path('program_index') }}">
        {{ 'back.programList'|trans }}
    </a>
{% endblock %}
